<survey-sender>
	<access>
		<metadata>
			<!-- Edit these fields below at the start of every semester. Make sure you also create the corresponding tables in Access, of course -->
			<filename>surveys.accdb</filename>
			<email-table>201410 Faculty List</email-table>
			<survey-table>201410 Student Survey Table</survey-table>

		</metadata>
	</access>
	<excel>
		<template-file-name>template.xls</template-file-name>
	</excel>
	<email>
		<text>
			<subject>Student Evaluations for ${EVENT_NAME} on ${EVENT_DATE}</subject>
			<body>
			Thank you for your continued support of the Learning Communities Program. As part of our continuing assessment process, we collected student surveys to gather feedback from students to ascertain how well-received the event was and what suggestions they may have to improve future events.  Attached are the student satisfaction survey results for your LC event, ${EVENT_NAME}, which was held on ${EVENT_DATE}.  

			Regards,
			Kevin Most
			Office of Learning Communities
			Peer Academic Leader (PAL)
			</body>
		</text>
		<account>
			<username>stjlearningcommunities@gmail.com</username>
			<password>learning123</password>
		</account>

	</email>
</survey-sender>